* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

body {
  font-family: "Montserrat";
  background: #FDF8E1;
}

body.darkmode {
  background: #202020;
}

header {
  background: transparent;
  padding: 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5e5b52;
}
header a {
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  color: #202020;
}
header a.dark {
  color: #F9DC5C;
}
header button {
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
  color: #5e5b52;
}
@keyframes sunset {
  from {
    opacity: 0;
  }
}
@keyframes sunrise {
  from {
    opacity: 0;
  }
}
header .lightmode {
  animation: sunrise 0.4s ease-in;
}
header .lightmode img {
  filter: brightness(15%);
}
header .darkmode {
  animation: sunset 0.4s ease-in-out;
}
header .darkmode img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(65%) saturate(4475%) hue-rotate(316deg) brightness(113%) contrast(95%);
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.main .homepage-image {
  margin: 2rem 1rem 0;
  position: relative;
}
.main .homepage-image .box {
  overflow: hidden;
}
.main .homepage-image .box img {
  width: 100%;
  display: block;
}
.main .homepage-image .art-info {
  background: #5e5b52;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.6;
  color: #FDF8E1;
}
.main .homepage-image .art-info h4 {
  color: #fff;
}

.image-content-wrapper {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
.image-content-wrapper .image-content {
  margin: 1rem 1rem 0.5rem;
  position: relative;
}
.image-content-wrapper .image-content img {
  width: 100%;
}
.image-content-wrapper .image-content .art-info {
  position: absolute;
  padding: 1rem 2rem;
  background: #FDF8E1;
  width: 50%;
  bottom: -2rem;
}
.image-content-wrapper article {
  padding: 4rem 1rem;
  color: #333533;
}
.image-content-wrapper article p {
  line-height: 1.5rem;
}

footer {
  background: transparent;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  color: #202020;
  margin: 1rem 0;
  border-top: 1px solid #F9DC5C;
}
footer span {
  font-weight: 700;
  margin: 1rem 0;
}
footer span.dark {
  color: #F9DC5C;
}
footer .socials {
  display: flex;
  justify-content: space-evenly;
  padding: 0 6rem;
}
footer .socials img {
  width: 1.8rem;
}

@media (min-width: 810px) {
  header {
    padding: 2rem;
  }
  .main {
    margin: 2rem 1rem;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 0 1rem;
  }
  .image-content-wrapper .image-content {
    padding: 0 1rem;
  }
  .image-content-wrapper .image-content img {
    width: 80% !important;
  }
  .image-content-wrapper .image-content .art-info {
    bottom: 81%;
    right: 0.1rem;
    padding: 2.5rem 4rem;
  }
  .image-content-wrapper .image-content .art-info h4 {
    font-size: 2em;
    margin: 0.5rem 0;
  }
  .image-content-wrapper .image-content .art-info span {
    color: #5e5b52;
  }
  .image-content-wrapper .image-content img {
    width: 100%;
  }
  .image-content-wrapper article {
    margin: 2rem 5rem;
    color: #5e5b52;
  }
  footer {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
  }
  footer span.dark {
    color: #F9DC5C;
  }
  footer .socials {
    padding: 0;
  }
  footer .socials a {
    padding-left: 1rem;
  }
}
@media (min-width: 1280px) {
  header {
    padding: 2rem 4rem;
  }
  .main {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 10px;
  }
  .main .homepage-image {
    margin: 0;
  }
  .image-content-wrapper {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0 2rem;
  }
  .image-content-wrapper .image-content {
    padding: 1rem 1rem;
  }
  .image-content-wrapper .image-content img {
    width: 80% !important;
  }
  .image-content-wrapper .image-content .art-info {
    bottom: 74.5%;
    right: 0.1rem;
    padding: 2.5rem 4rem;
  }
  .image-content-wrapper .image-content .art-info h4 {
    font-size: 2.5em;
  }
  .image-content-wrapper article {
    margin: 2rem 5rem;
    color: #5e5b52;
  }
  footer {
    margin: 0;
    padding: 1rem 10rem;
  }
  footer .socials a {
    padding-left: 2.5rem;
  }
}/*# sourceMappingURL=styles.css.map */