$primary: #F9DC5C;
$secondary: #FAE588;
//neutrals
$off-yellow: #FCEFB4;
$off-white: #FDF8E1;
//fonts
$font-dark: #202020;
$font-gray: #333533;
$font-light-gray: #5e5b52;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s ease;
}
body{
  font-family: 'Montserrat';
  background: $off-white;
}
body.darkmode{
  background: $font-dark;
}
body.imageClicked{
  overflow-y: hidden;
}
header{
  background: transparent;
  padding: 1.5rem 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $font-light-gray;
  a{
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: $font-dark;
  }
  
  button{
    background: none;
    border: none;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 700;
    color: $font-light-gray
  }
  @keyframes sunset {
    from{
      opacity: 0;

    }
  }
  @keyframes sunrise {
    from{
      opacity: 0;
    }
  }
  .lightmode{
    animation: sunrise .4s ease-in;
    img{
      width: 1rem;
      filter: brightness(15%);
    }
  }
  
}
header.darkmode{
  a{
    color: $primary;
  }
  .lightmode{
    animation: sunset .4s ease-in-out;
    img{
      filter: brightness(0) saturate(100%) invert(100%) sepia(65%) saturate(4475%) hue-rotate(316deg) brightness(113%) contrast(95%);
    }
  }
}
.main{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  .homepage-image{
    margin: 2rem 1rem 0;
    position: relative;
    .box{
     overflow: hidden;
      img{
        width: 100%;
        display: block;
      }
    }
    .art-info {
      background: $font-gray;
      padding: 10px;
      position: absolute;
      bottom: 0;
      width: 100%;
      opacity: 0.6;
      color: $off-white;
      h4{
        color: #fff;
      }
      span{
        font-size: .8em;
      }
    }
  }
}
.image-content-wrapper{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  .image-content{
    margin: 1rem 1rem .5rem;
    position: relative;
    img{
      width: 100%
    }
    .art-info{
      position: absolute;
      padding: 1rem 2rem;
      background: $off-white;
      width: 50%;
      bottom: -2rem;
    }
  }
  article{
    padding: 4rem 1rem;
    color: $font-gray;
    p{
      line-height: 1.5rem;
    }
  }
}
.image-content-wrapper.darkmode{
  .art-info{
   background: $font-dark;
    color: $secondary;
    span{
      color: $font-light-gray;
    }
  }
  p{
    color: $off-white;
  }
}

.footer{
  background: transparent;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  color: $font-dark;
  padding: 1rem 0;
  margin-top: 2rem;
  border-top: 1px solid $primary;
  span{
    font-weight: 700;
    margin: 1rem 0;
  }
  .socials{
    display: flex;
    justify-content: space-evenly;
    padding: 0 6rem;
    img{
      width: 1.8rem;
      filter: invert(7%) sepia(76%) saturate(21%) hue-rotate(327deg) brightness(99%) contrast(89%);
    }
  }
}
.arrow-up{
  z-index: 1;
  position: fixed;
  background: transparent;
  bottom: 15px;
  right: 10px;
  button{
    padding: .7rem 1rem;
    border-radius: 50%;
    border: none;
    background: $off-yellow;
  }
  img{
    width: 1rem;
    filter: invert(7%) sepia(76%) saturate(21%) hue-rotate(327deg) brightness(99%) contrast(89%);
  }
}
.test{
  display: none;
}
.test.clicked{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 100%;
  background: rgba($color: #000000, $alpha: .8);
  img{
    width: 95%;
  }
}
.footer.dark{
  span, img{
    color: $primary;
  }
  img{
    filter: invert(100%) sepia(46%) saturate(1781%) hue-rotate(328deg) brightness(99%) contrast(97%);
  }
}
////////TABLET///////////////////
@media (min-width: 800px) {
  header{
    padding: 2rem;
  }
  .main{
    margin: 2rem 1rem;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 0 1rem;
  }
  .image-content-wrapper{
    .image-content{
      padding: 0 1rem;
      img{
        width: 80% !important;
      }
      .art-info{
        bottom: 81%;
        right: .1rem;
        padding: 2.5rem 4rem;
        h4{
          font-size: 2em;
          margin: .5rem 0;
        }
        span{
          color: $font-light-gray;
        }
      }
      img{
        width: 100%;
      }
    }
    article{
      margin: 2rem 5rem;
      color: $font-light-gray;
    }
  }
  .footer{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    span.dark{
      color: $primary;
    }
    .socials{
      padding: 0;
      a{
        padding-left: 1rem;
      }
    }
  }
  .test.clicked{
    img{
      width: 85%;
    }
  }
}
//////////DESKTOP////////////////
@media (min-width: 1280px) {
  header{
    padding: 1.5rem 4rem;
  }
  .main{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 15px;
    row-gap: 10px;
    .homepage-image{
      margin: 0;
    }
  }
  .image-content-wrapper{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0 2rem;
    .image-content{
      padding: 1rem 1rem;
      img{
        width: 80% !important;
      }
      .art-info{
        bottom: 71%;
        left: 90%;
        padding: 2.5rem 4rem;
        h4{
          font-size: 2.5em;
        }
      }
    }
    article{
      margin: 2rem 5rem;
      color: $font-light-gray;
    }
  }
  .test.clicked{
    img{
      width: 43%;
    }
  }
  footer{
    margin: 0 !important;
    padding: 1rem 10rem;
    .socials{
      a{
        padding-left: 2.5rem;
      }
    }
  }
}